@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@600&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family:'Abril Fatface, cursive';
	box-sizing: border-box;
}

body{
	background-color: #101010;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url("https://source.unsplash.com/1600x900/?roses");
	background-size: cover;
	background-position: center;
}

nav{
	display: flex;
	text-shadow: 2px 2px 5px rgba(216, 8, 243, 0.548);
	justify-content: flex-end;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #e61053;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: rgb(247, 243, 243);
	font-size: 25px;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	align-items: center;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: rgb(206, 136, 136);
	text-shadow: 6px 6px 6px rgba(17, 17, 16, 0.658);;
	margin: 20px 0px 20px;
	font-size: 75px;
}



h3{
	color: rgb(148, 8, 8);
	text-shadow: 6px 6px 6px rgba(17, 17, 16, 0.658);;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: rgba(167, 252, 10, 0.8);
	letter-spacing: 2px;
	font-size: 20px;
}


h6 {
	padding-top: 5%;
}


.about{
	width: 100%;
	padding: 20px 0px;
	background-color: #161616;
	display: flex;
}
.about img{
	height: 300px;
	width: 350px;
	border-radius: 10%;
	display: flex;
	box-shadow: 10px 10px 10px rgba(223, 238, 10, 0.658);
}

.about-text{
	width: 700px;
	padding: 3%;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
	
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
	
}
.about-text p{
	color: lightgrey;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;

}
button{
	background-color:black;
	color: rgb(162, 169, 177);
	text-decoration: none;
	border: 2px solid lime;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
	margin-right: 5%;
}
button:hover{
	background-color: transparent;
	border: 2px solid #996475;
	cursor: pointer;
}

div#portfolio.portfolio{
	background: black;

}

.portfolio{
	background-image: url("https://source.unsplash.com/1600x900/?flowers");
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 100px 0px;
}
.portfolio h2{
	color:rgb(253, 251, 251);
	text-shadow: 2px 2px 5px rgba(216, 8, 243, 0.548);
	font-size: 40px;
	text-align:center;
    align-content:center;
	display: flex;	
	
}

.box{
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align:center;
	align-content:center;
	box-shadow: 10px 10px 10px rgba(223, 238, 10, 0.658);
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #8d8989;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.profile h6 {
    color: white;
    font-size: 23px;
    margin-bottom: 0px;
    align-content: center;
    margin-bottom: 70px;
}

.pra p{
	color: rgba(182, 112, 7, 0.8);
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#534449;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
    font-size: 13px;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
    align-content: center;
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.profile{
	width: 100%;
	height: 700px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.profile p{
	color: rgb(139, 90, 34);
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 50px;
    text-align:center;
    align-content:center;
}

.profile i{
    color:rgb(248, 208, 140);
}
.profile .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.profile .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: rgb(145, 127, 127);
	margin-bottom: 20px;
	font-weight: bold;
}

.social{
	display: flex;
}

.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  rgb(92, 92, 81);
	border-radius: 50%;
	margin: 22px 10px;
	color:burlywood;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

footer p {
    color:chocolate;
}


@media only screen and (max-width: 600px) {
	.box{
		flex-direction:column;
	}	
	.main {
		flex-direction: column;
  }
}

div#title.title {
	background-color: #101010;
}

.fa-wind:before {
    color:aqua;
	height: 5px;
	width: 5px;
}

.fa-calculator:before {
    color:burlywood;
}

.fa-virus:before {
    color:crimson;
}

.fa-book:before {
    color:orange;
}
.fa-lemon:before {
    color:palevioletred;
}

.fa-gamepad:before {
    color:blue;
}



div.BackCard {
	height: 150px;
	width: 300px;
	background: #00000069;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
	text-align:center;
    align-content:space-around;
	display:inline-flex;
	align-content: center;
    box-shadow: 10px 10px 10px rgb(223 238 10 / 66%);
	padding-left: 4%;
	padding-top: 1%;
}

div#portfolioBackend.portfolioBackend {
	margin-top:2%;
	margin-bottom: 5%;
	
}


h6 {
	font-size: 40px;
	color: #996475;
	text-align: center;
	padding-bottom: 2%;
}
ul{
	font-size: 15px;
	color:rgb(162, 169, 177);
	text-align: center;
	padding-bottom: 2%;
}